body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin: 0;
    color: whitesmoke;
    background-color: #292929;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23ffffff' fill-opacity='0.19' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
    font-family: "Roboto Mono", monospace;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    height: 100vh;
}

video {
    display: none;
}

.logo {
    position: absolute;
    height: 80px;
    top: 5px;
    left: 5px;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.logo:hover {
    animation-name: rotateLogo;
}
.face {
    width: 200px;
    border: 5px solid #292929;
    border-radius: 110px;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
    margin-left: 0px;
}
.flip-box {
    background-color: transparent;
    width: 210px;
    height: 210px;
    border-radius: 110px;
    margin-left: 0px;
}

.flip-box-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
    transition-delay: 2s;
}

/* Position the front and back side */
.flip-box-face,
.flip-box-secret {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
/* Style the secret side */
.flip-box-secret {
    color: white;
    border-radius: 110px;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
    transform: rotateY(180deg);
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.social li:hover {
    transform: scale(1.2) rotate(360deg);
}

.social ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    padding: 0;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    cursor: pointer;
    transition: 400ms ease;
    width: 70px;
    height: 70px;
    overflow: hidden;
}

li:not(:first-child) {
    margin-left: 15px;
}

li img {
    display: flex;
    width: 100px;
}

button {
    font-family: "Roboto Mono", monospace;
    font-size: 60%;
    border: 3px solid #292929;
    background-color: whitesmoke;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 400ms ease;
}

button:hover {
    transform: scale(1.2);
}

.projects {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
    height: 90vh;
}

.project {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2.5vh 2.5vw;
    margin: 2.5vh 2.5vw;
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 1s;
}

.partTitle {
    height: 5vh;
}

.projectTitle {
    align-self: flex-start;
    margin: auto 40px;
    width: 25vw;
    font-size: 3vw;
}

.projectLink {
    height: 15vw;
    border: 2px solid white;
    transition-duration: 1s;
    cursor: pointer;
}

.linkHover {
    border: 2px solid black;
}

.projectHover {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 5px 0 white;
    border-radius: 10px;
}

.projectImg {
    height: 15vw;
}

#time {
    position: fixed;
    margin: 0;
    bottom: 10px;
    right: 10px;
}

@media screen and (max-width: 520px) {
    .logo {
        height: 60px;
    }
    .projects {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        width: 80vw;
        height: auto;
        margin-bottom: 20px;
    }

    .project {
        flex-flow: column nowrap;
    }

    .projectTitle {
        align-self: center;
        margin: 10px auto;
        width: auto;
        font-size: 5vh;
    }

    .projectLink {
        height: 35vw;
    }
    .projectImg {
        height: 35vw;
    }

    .projectHover {
        background-color: rgba(0, 0, 0, 0.9);
        box-shadow: 0px 5px 0 white;
        border-radius: 10px;
    }

    .linkHover {
        border: 2px solid black;
    }
}

@keyframes rotateLogo {
    75%,
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes rotateImageReverse {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateImage {
    100% {
        transform: rotate(-360deg);
    }
}

/* Adds the rainbow effects to the body */
@keyframes backg {
    0% {
        background-color: #ff0000;
    }

    5% {
        background-color: #fe0e00;
    }

    10% {
        background-color: #fd1f00;
    }

    15% {
        background-color: #fc3500;
    }

    20% {
        background-color: #fa4f00;
    }

    25% {
        background-color: #f76e00;
    }

    30% {
        background-color: #f59200;
    }

    35% {
        background-color: #f1bc00;
    }

    40% {
        background-color: #edec00;
    }

    45% {
        background-color: #b0e900;
    }

    50% {
        background-color: #6be400;
    }

    55% {
        background-color: #1fde00;
    }

    60% {
        background-color: #00d732;
    }

    65% {
        background-color: #00cf87;
    }

    70% {
        background-color: #00b3c7;
    }

    75% {
        background-color: #0050bd;
    }

    80% {
        background-color: #0d00b3;
    }

    85% {
        background-color: #6000a9;
    }

    90% {
        background-color: #9e0094;
    }

    100% {
        background-color: #ff0000;
    }
}

/* Adds the rainbow effect for the h1 and h2 tag */
@keyframes colorT {
    100% {
        color: #ff0000;
    }

    95% {
        color: #fe0e00;
    }

    90% {
        color: #fd1f00;
    }

    85% {
        color: #fc3500;
    }

    80% {
        color: #fa4f00;
    }

    75% {
        color: #f76e00;
    }

    70% {
        color: #f59200;
    }

    65% {
        color: #f1bc00;
    }

    60% {
        color: #edec00;
    }

    55% {
        color: #b0e900;
    }

    50% {
        color: #6be400;
    }

    45% {
        color: #1fde00;
    }

    40% {
        color: #00d732;
    }

    35% {
        color: #00cf87;
    }

    30% {
        color: #00b3c7;
    }

    25% {
        color: #0050bd;
    }

    20% {
        color: #0d00b3;
    }

    15% {
        color: #6000a9;
    }

    10% {
        color: #9e0094;
    }

    0% {
        color: #ff0000;
    }
}
